#root{
  width: 95%;
  margin: auto;
  font-size: 4vw;
}
header{
  font-size: large;
  text-align: center;
  font-size: 5vw;
}
nav{
  text-align: center;
}
button{
  border-radius: 40%;
  margin: 1%;
  background-color: white;
  font-size: 4vw;
  cursor: pointer;
}
section{
  box-shadow: 10px 10px 8px #888888;
  border: 1px solid black;
  padding: 5%;
  background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(172, 211, 255));
}
section div{
  padding: 5%;
}
